@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
    @apply max-w-full;
}

main {
    @apply flex;
    @apply flex-col;
    @apply flex-auto;
}

footer {
    @apply p-4;
    @apply mt-4;
}

.navigation {
    @apply h-20;
    @apply p-4; 
    @apply flex;
    @apply shadow;
    @apply bg-white;
    @apply items-center;
}

.navigation-list {
    @apply flex;
    @apply items-center;
}

.navigation-list li a {
    padding: 1rem;
    border-top: 0;
}

.active {
    border-bottom: 2px solid #4299e1;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about h1 {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 700;
}

.about h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about ul {
    list-style: circle;
    margin-left: 1.25rem;
}

.about a {
    text-decoration: underline;
    text-decoration-color: blue;
}